.text-style {
    color: orange
}

.active {
    color: orange;
    font-weight: bold;
}

.p {
    color: rgb(129, 8, 32);
    background-color: rgb(255, 232, 232);
    font-weight: bold;
    /* font-family: fantasy; */
    /* font-family: 'Nabla', Arial, Helvetica, sans-serif; */
    padding: 5mm;
    margin: 1cm;
    border: rgb(129, 8, 32) solid 0.5mm;
    border-radius: 2mm;
}


.p:hover {
    color: rgb(255, 232, 232);
    background-color: rgb(129, 8, 32);
    border: rgb(255, 232, 232) solid 0.5mm;
    cursor: no-drop;

}

#text-pink {
    color: pink
}

.required {
    font-weight: bold;
    color: red
}

.bg-site {
    background-color: white;
}



.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #212529 !important;
}

.form-control:focus {
    border-color: #212529 !important;
    box-shadow: 0 0 0 0.2rem rgba(70, 70, 70, 0.25) !important;
}

.accordion-button:focus {
    border-color: #212529 !important;
    box-shadow: 0 0 0 0.2rem rgba(70, 70, 70, 0.25) !important;
    border-radius: 4px;
}


/* Src https://www.w3schools.com/howto/howto_css_text_selection.asp */

::-moz-selection {
    /* Code for Firefox */
    color: #ed1c24;
    background: #fff1f1;
}

::selection {
    color: #ed1c24;
    background: #fff1f1;
}